node_modules
coverage
*.tgz
.DS_Store
.vscode
# build output of addon_installer/genscript.sh
addon_installer/*
!addon_installer/genscript.sh
!addon_installer/update_script
!addon_installer/homekit-ccu
